.batthuong {
	color: red !important;
}
.nav-pills.nav-secondary .nav-link.active{
	background: #9b2 !important;
	border: 1px solid #9b2 !important;
}
.logo-header {
	background-color: rgba(255, 253, 253, 0.37) !important;
}
.fas.fa-home.home-icon {
	color: black  !important;
}
.avatar-img.rounded-circle.logo {
	border-radius: 0% !important;
}
.main-header[data-background-color="#9b2"] {
	background: #79bc4b !important;
}
.btn.btn-primary.btn-rounded.btn-login.login {
    background-color:#9b2 !important;
    border-color:  #9b2 !important;
}
.caption-ketqua{
    text-align: center !important;
    text-transform: uppercase;
    font-size: 22px !important;
}
.table-wrapper{
    overflow-y: scroll;
  height: 500px;
}
.headXN{
background-color: rgb(208, 224, 147) !important;
color:black !important;
border-radius: 1%;
font-size: 22px !important;
}
.table-wrapper th{
    position: sticky;
    top: 0;
}
.tengroup {
    color:rgb(42, 56, 182) !important;
    font-weight:  bold!important;
    font-size: 15px!important;
}
.tendichvu {
    color:black !important;
    font-weight:  bold!important;
    font-size: 15px!important;
}
.ngaygiothuchien{
    font-size: 22px !important;
    color:rgb(3, 66, 14) !important;
    text-transform: uppercase;
    font-weight: bold!important;
}
.tennhomdichvu {
    font-size: 20px !important;
    color:rgb(3, 66, 14) !important;
    text-transform: uppercase;
    font-weight: bold!important;
}
.text-alert{
color:red !important;
text-align: center !important;
width: 100% !important;
}